<?xml version='1.0' encoding='windows-1252'?>
<Wix xmlns='http://schemas.microsoft.com/wix/2006/wi'>
    <Product Name='MusicApp' Manufacturer='DPlouc' Id='6E808730-D41E-421B-9A4C-6692186AB9AA' UpgradeCode='59513621-A78C-4557-AAC2-CB8F400E1D1E' Language='1033' Codepage='1252' Version='0.1.0'>
        <Package Id='670239E1-BF50-466A-AF86-425F5F99A973' Keywords='Installer' Description="MusicApp 0.1.0 Installer" Comments='MusicApp 0.1.0' Manufacturer='DPlouc' InstallerVersion='100' Languages='1033' Compressed='yes' SummaryCodepage='1252' />
        <Directory Id='ProgramFilesFolder' Name='MusicApp'>

        </Directory>

<!--
    Installer GUID  2710eb0e-5814-4b95-a65b-d069ed156caf
    Upgrader GUID   1aca4366-6f20-4848-b3d2-8e53e4cbc4c1
    Product GUID   61909ce8-b1b1-4aca-9b3e-97076b88da60
-->